[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "basics/.config/rofi/themes/gruvbox"]
	path = basics/.config/rofi/themes/gruvbox
	url = https://github.com/bardisty/gruvbox-rofi
